.deno/
.vscode/.deno/
.env
# DB
data/*.db
data/*.db-wal
data/*.db-shm
data/typegraph.db/
# Runtime
config/config.json
node_modules/
run/
logs/
.ursamu.pid
.ursamu-deno.pid

# local engine data from vendor rsync
vendor/mush/data/
